<!--星評価-->
<div class="field col-xs-offset-1" id="star">
  <%= f.label :評価, class: "col-xs-3" %>
  <%= f.hidden_field :rate, id: :review_star %>
</div><br>

<div class="form-group col-xs-offset-1">
    <%= f.label :"投稿タイトル", class: "col-xs-3" %>
    <%= f.text_field :title %>
</div><br>

<div class="form-group col-xs-offset-1">
    <%= f.label :"投稿内容", class: "col-xs-3" %>
    <%= f.text_area :impression %>
</div><br>

<!--星評価-->
<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'review[rate]',
  half: true,
});
</script>