<div class="body">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/errors", obj: @review %>
      <%= render 'layouts/sideber', genres: @genres %>
      <div class="col-xs-10">
        <h3><%= @movie.title %>のレビューを編集する</h3><br>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-1">
    	      <%= form_with model: @review, url: review_path, method: :patch, local:true do |f| %>
              <%= render "form", f: f %>
              <div>
                <%= f.submit "編集内容を保存する",  class: "btn btn-primary btn-lg pull-right", data: {"turbolinks" => false} %>
              </div>
            <% end %>
    	    </div>
        </div>
      </div>
    </div>
  </div>
</div>