<div class="body">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/sideber', genres: @genres %>
      <div class="col-xs-10">
        <h3 class><%= @member.name %>さんのレビュー</h3>
        <p>
          <%= render 'member/reviews/star', review: @review %>
          <%= @review.title %>
        </p>
        <p><% @member.name %><% @review.created_at %></p>
        <p><%= @review.impression %></p>
        <% if member_signed_in? %>
          <% if @member == current_member %>
            <div>
              <%= link_to '編集する', edit_review_path %>
              <%= link_to '削除する', review_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </div>
          <% else %>
            <%= render 'member/favorites/favorites', review: @review %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>