<div class="body">
  <div class="container-fluid">
    <br>
    <div class="row">
      <%= render 'layouts/sideber', genres: @genres %>
      <div class="col-xs-offset-1 col-xs-5 row" style="padding-top: 20px">
        <!--画面遷移前のリンク-->
        <%= link_to "トップ", root_path, data: {"turbolinks" => false} %>
        >
        <%= link_to "作品一覧", movies_path, data: {"turbolinks" => false} %>
        >
        <%= link_to movie_path(@movie), data: {"turbolinks" => false} do %>
          <%= @movie.title %>の詳細
        <% end %>
        >
        <%= @movie.title %>のレビュー詳細
        <h2>
          <%= link_to member_path(@member), data: {"turbolinks" => false} do %>
            <%= @member.name %>
          <% end %>さんのレビュー
        </h2>
        <p>
          <%= render 'member/reviews/star', review: @review %>
          <%= @review.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </p>
        <p><strong><%= @review.title %></strong></p>
        <p><%= @review.impression %></p>
        <!--レビューの編集と削除orいいね-->
        <% if member_signed_in? %>
          <% if @member == current_member %>
            <div>
              <%= link_to '編集する', edit_review_path, data: {"turbolinks" => false} %>
              <%= link_to '削除する', review_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
              コメント<%= @comments.count %>件
            </div>
          <% else %>
            <%= render 'member/favorites/favorites', review: @review %>
            コメント<%= @comments.count %>件
          <% end %>
        <% end %>
        <!--コメントフォーム-->
        <% if member_signed_in? %>
          <%= form_with(model: [@review, @comment], url: comments_path(review_id: @review.id), method: :post, local: true) do |f| %>
            <%= f.text_area :review_comment, class: "form-control", rows: 5 %>
            <%= f.submit "コメントする", class: "btn btn-primary btn-xs pull-right" %>
          <% end %>
        <% end %>
        <br><br>
        <!--コメント一覧-->
        <table class="row">
          <thead>
            <tr>
              <th class="col-xs-8" ></th>
              <th class="col-xs-2" ></th>
              <th class="ccol-xs-2" ></th>
            </tr>
          </thead>
          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td class="col-xs-8"><%= comment.review_comment %></td>
                <td class="col-xs-2 text-center"><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
                <td class="col-xs-2"><%= link_to member_path(comment.member), data: {"turbolinks" => false} do %><%= comment.member.name %><% end %></td>
              </tr>
            <% end %>          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>