<div class="body">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/sideber', genres: @genres %>
      <div class="col-xs-9">
        <h3 class><%= @member.name %>さんのレビュー</h3>
        <p>
          <%= render 'member/reviews/star', review: @review %>
          <%= @review.created_at.strftime('%Y %m %d %H:%M:%S') %>
        </p>
        <p>
          <%= @review.title %>
        </p>
        <p><%= @review.impression %></p>
        <% if member_signed_in? %>
          <% if @member == current_member %>
            <div>
              <%= link_to '編集する', edit_review_path, data: {"turbolinks" => false} %>
              <%= link_to '削除する', review_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </div>
          <% else %>
            <%= render 'member/favorites/favorites', review: @review %>
          <% end %>
        <% end %>
        
        <% if member_signed_in? %>
          <%= form_with(model: [@review, @comment], url: comments_path(review_id: @review.id), method: :post, local: true) do |f| %>
            <%= f.text_area :review_comment, class: "form-control", rows: 5 %>
            <%= f.submit "コメントする", class: "btn btn-primary btn-lg pull-right" %>
          <% end %>
        <% end %>
        
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.review_comment %></td>
            <td><%= comment.created_at.strftime('%Y %m %d %H:%M:%S') %></td>
            <td><%= comment.member.name %></td>
          </tr>
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>