<div class="body">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/sideber', genres: @genres %>
      <div class="col-xs-10">
        <h3 class><%= @member.name %>さんのレビュー</h3>
        <p>
          <%= @review.rate %><span id="star-rate-<%= @review.id %>" class="ml-3"></span>
          <script>
            $('#star-rate-<%= @review.id %>').raty({
              size: 36,
              starOff: '<%= asset_path('star-off.png') %>', starOn : '<%= asset_path('star-on.png') %>', starHalf: '<%= asset_path('star-half.png') %>', half: true,
              readOnly: true,
              score: <%= @review.rate %>,
            });
          </script>
          
          <%= @review.title %>
        </p>
        <p><% @member.name %><% @review.created_at %></p>
        <p><%= @review.impression %></p>
        <% if member_signed_in? %>
          <% if @member == current_member %>
            <div>
              <%= link_to '編集する', edit_review_path %>
              <%= link_to '削除する', review_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </div>
          <% else %>
            <!--<= render 'member/favorites/favorites', review: @review %>-->
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>