<div class="container">
    <%= link_to "ユーザー一覧", admin_members_path %>
    >
    <%= @member.name %>さんのユーザー情報編集
  <div class="row mx-auto">
    <div class="text-center" style="margin: 20px 0 50px 0">
      <h2><%= @member.name %>さんのユーザー情報編集</h2>
    </div>
    <div class="col-xs-offset-3 col-xs-6">
      <%= form_with model: @member, url: admin_member_path, local: true, class: "form-horizontal" do |f| %>
      
      	<div class="form-group">
      		<label class="col-xs-2 control-label" for="InputEmail"></label>
      		<div class="col-xs-10">
      		  <%= f.label :ユーザーID %><br/>
      		  <%= @member.id %>
      		</div>
      	</div>
      	<div class="form-group">
      		<label class="col-sm-2 control-label" for="InputEmail"></label>
      		<div class="col-sm-8 form-inline">
      		  <%= f.label :ユーザー名 %><br/>
      			<%= @member.name %>
      		</div>
      	</div>
      	<div class="form-group">
      		<label class="col-sm-2 control-label" for="InputEmail"></label>
      		<div class="col-sm-8">
      		  <%= f.label :メールアドレス %><br/>
      		  <%= @member.email %>
      		</div>
      	</div>
      	<div class="form-group">
      		<label class="col-sm-2 control-label" for="InputEmail"></label>
      		<div class="col-sm-6">
      		  <%= f.label :会員ステータス %><br/>
      		  <%= f.radio_button :is_deleted, :false, checked: true %>有効
      		  <%= f.radio_button :is_deleted, :true %>退会済み
      		</div>
      	</div><br>
      	<div class="form-group  text-center">
      	 <%= f.submit "変更", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>