<div class="body">
  <div class="container center-block">
    <div class="row">
      <%= render "layouts/errors", obj: resource %>
            <!--画面遷移前のリンク-->
      <%= link_to "トップ", root_path, data: {"turbolinks" => false} %>
      >
      <%= link_to "ユーザー一覧", members_path, data: {"turbolinks" => false} %>
      >
      <%= link_to member_path(@member), data: {"turbolinks" => false} do %>
        <%= @member.name %>さんの詳細
      <% end %>
      >
      <%= @member.name %>さんのパスワード変更
      <h2 class="text-center"><%= @member.name %>さんのパスワード変更</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="sign-in">
          <div class="form-group text-center">
            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
      
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="sign-in">
            <div class="form-group text-center">
              <div class="field">
                <p class="text-center"><%= f.label :パスワード %></p> <i>変更したくない場合は空白のままにします</i><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> 文字以上にしてください</em>
                <% end %>
              </div>
            </div>
          </div>  
          
          <div class="sign-in">
            <div class="form-group text-center">
              <div class="field">
                <%= f.label :パスワードの確認 %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
            </div>
          </div>    
            
          <div class="sign-in">
            <div class="form-group text-center">   
              <div class="field">
                <p><%= f.label :現在のパスワード %></p> <i>パスワードを変更するには、現在のパスワードが必要です。</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>
            </div>
          </div>    
          
          <div class="sign-in">
            <div class="form-group text-center">  
              <div class="actions">
                <%= f.submit "更新する" %>
              </div>
            </div>
          </div>
        </div>  
      <% end %>
      <div class="text-center">
        <%= link_to "戻る", :back %>
      </div>
   </div>  
 </div>     
</div>