<div class="body">
  <div class="container">
    <%= link_to "レビュー一覧", admin_reviews_path %>
    >
    レビュー詳細
    <h2 class="text-center">レビュー詳細</h2>
    <br><br>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <div>
              <strong>評価</strong><br>
              <%= render 'member/reviews/star', review: @review %><br><br>
            </div>
            <div>
              <strong>レビュータイトル</strong><br>
              <%= @review.title %><br><br>
            </div>
            <div>
              <strong>レビュー内容</strong><br>
              <%= @review.impression %><br><br><br>
            </div>
            <div>
               <%= link_to "削除", admin_review_path(@review), method: :delete, class: "btn btn-primary btn-nd pull-right" %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>