<div class="container">
  <div class="row">
    <div class="col-xs-12 center-block" style="margin: 20px 0 50px 0">
      <h3 class='col-xs-10'><%= @member.name %>さんのレビュー一覧</h3>
    </div>
    <div class="col-xs-12 center-block">
      <table class='table table-hover table-bordered'>
        <thead>
          <tr>
            <th class="text-center">レビューID</th>
            <th>作品名</th>
            <th>レビュータイトル</th>
            <th class="text-center">評価</th>
            <th class="text-center">投稿日時</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td class="col-xs-1 text-center"><%= review.id %></td>
              <td class="col-xs-2">
                <%= link_to admin_movie_path(review.movie), data: {"turbolinks" => false} do %>
                  <%= review.movie.title %>
                <% end %>
              </td>
              <!--showページではなくeditページにとぶ-->
              <td class="col-xs-3"><%= link_to edit_admin_review_path(review) do %><%= review.title %><% end %></td>
              <td class="col-xs-2 text-center"><%= render 'member/reviews/star', review: review %></td>>
              <td class="col-xs-1 text-center"><%= review.created_at.strftime('%Y %m %d %H:%M:%S') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>