<div class="body">
  <div class="container-fluid">
    </br>
    <div class="row">
      <%= render "layouts/sideber", genres: @genres %>
      <div class="col-xs-9">
		<h2>フォロワー一覧</h2>
		  <table class="table">
		    <thead>
	        <tr>
		        <!--プロフィール画像-->
			      <th></th>
			      <!--ユーザー名-->
					  <th></th>
					  <!--フォロワー数-->
					  <th></th>
					  <!--投稿レビュー数-->
					  <th></th>
					  <!--自己紹介文-->
					  <th></th>
					  <!--いいねボタン-->
					  <th></th>
				  </tr>
				</thead>
				<tbody>
				  <% @members.each do |member| %>
			  		<tr>
			  		  <!--<td><= attachment_image_tag member, :profile_image, :fill, 50, 50, fallback: "no_image.jp" %></td>-->
			  		  <td><%= link_to member_path(member) do %><%= member.name %><% end %></td>
			  		  <!--<td><= member.following.count %></td>-->
			  		  <td><%= member.introduction %></td>
			  		  <td>
						<% if member != current_member %>
						  <%= render "member/relationships/follow-btn", member: member %>
    					<% end %>
					  </td>
			  		</tr>
				  <% end %>
				</tbody>
		  </table>
      </div>
    </div>
  </div>
</div>