<div class="body">
  <div class="container">
    <h2 class="text-center">ジャンル編集</h2>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-6" style="margin-top: 20px">
          <%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
            <div>
              <i>ジャンル</i>
                <%= f.text_field :name %>
                <%= f.radio_button :is_active, true %>
                <%= f.label :is_active, "有効", {value: :true} %>
                <%= f.radio_button :is_active, false %>
                <%= f.label :is_active, "無効", {value: :false} %>
                <%= f.submit "変更を保存", class: "btn btn-info" %>
              </div>
          <% end %>
        </div>
      </div>
  </div>
</div>