<div class="body">
  <div class="container-fluid">
    </br>
    <div class="row">
      <%= render "layouts/sideber", genres: @genres %>
      <div class="col-xs-9">
		<h2>ユーザー一覧</h2>
		<table class="table">
	    <thead>
	        <tr>
	          <!--プロフィール画像-->
		      <th></th>
			  <th>ユーザー名</th>
			  <th>自己紹介文</th>
			  <th>投稿レビュー数</th>
			  <th></th>
			</tr>
		</thead>
		<tbody>
		  <% @members.each do |member| %>
	  		<tr>
	  		  <td><%= attachment_image_tag member, :profile_image, size:'50x50', fallback: "no_image.jpg", size:'50x50' %></td>
	  		  <td><%= link_to member_path(member), data: {"turbolinks" => false} do %><%= member.name %><% end %></td>
	  		  <td><%= member.introduction %></td>
	  		  <td class="text-center"><%= member.reviews.count %>件</td>
	  		  <td>
	  		  	<% if member != current_member %>
				  <%= render "member/relationships/follow-btn", member: member %>
				<% end %>
	  		  </td>
	  		</tr>
		  <% end %>
		</tbody>
		</table>
      </div>
    </div>
  </div>
</div>