<div class="body">
  <div class="container-fluid">
    <br>    <div class="row">
      <%= render "layouts/sideber", genres: @genres %>
      <div class="col-md-8 col-md-offset-1 row">
        <!--画面遷移前のリンク-->
        <%= link_to "トップ", root_path, data: {"turbolinks" => false} %>
        >
        <%= link_to "ユーザー一覧", members_path, data: {"turbolinks" => false} %>
        >
        <%= @member.name %>さんの詳細
        <h2 style="padding: 0 0 40px 0"><%= @member.name %>さんのマイページ</h2>
        <div class="col-lg-5">
          <%= attachment_image_tag @member, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300' %><br>
          <% if member_signed_in? %>
            <% if @member == current_member %>
              <div style="margin-left: 45px">
                <%= link_to 'プロフィール編集', edit_member_path, data: {"turbolinks" => false} %>
                <%= link_to 'パスワード変更', edit_member_registration_path, data: {"turbolinks" => false} %><br>
              </div>
              <div style="margin-left: 10px">
                <%= link_to @member.followings.count, followings_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロー
                <%= link_to @member.followers.count, followers_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロワー
                <%= link_to 'お気に入り作品一覧', bookmarks_path(member_id: @member.id), data: {"turbolinks" => false} %><br>
              </div>
            <% else  %>
              <div style="margin-left: 110px">
                <%= render "member/relationships/follow-btn", member: @member %>
                <!--<= link_to 'DM機能',  %>--><br>
              </div>
              <div style="margin-left: 10px">
                <%= link_to @member.followings.count, followings_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロー
                <%= link_to @member.followers.count, followers_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロワー
                <%= link_to 'お気に入り作品一覧', bookmarks_path(member_id: @member.id), data: {"turbolinks" => false} %><br>
              </div>
            <% end %>
          <% else %>
            <div style="margin-left: 10px">
              <%= link_to @member.followings.count, followings_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロー
              <%= link_to @member.followers.count, followers_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロワー
              <%= link_to 'お気に入り作品一覧', bookmarks_path(member_id: @member.id), data: {"turbolinks" => false} %><br>
            </div>
          <% end %>
        </div>
        <div class="col-lg-5" style="margin-left: -80px">
          <h3>プロフィール</h3>
          <p><strong>自己紹介文</strong><br><%= @member.introduction %></p>
          <p><strong>性別</strong><%= @member.sex %>
          <strong>生年月日</strong><%= @member.birthday %></p>
          <p><strong>生涯ランキング</strong></p>
          <p><strong>１位</strong><%= @member.best1 %></p>
          <p><strong>２位</strong><%= @member.best2 %></p>
          <p><strong>３位</strong><%= @member.best3 %></p> 
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-7 row">
        <h3 class><%= @member.name %>さんのレビュー一覧</h3>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr bgcolor="#dcdcdc">
              <th class="col-xs-2">レビュー作品</th>
              <th class="col-xs-4">レビュータイトル</th>
              <th class="col-xs-2 text-center">投稿日時</th>
              <th class="col-xs-2 text-center">評価</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to movie_path(review.movie), data: {"turbolinks" => false} do %>
                    <%= review.movie.title %>
                  <% end %>
                </td>
                <td>
                  <%= link_to review_path(review), data: {"turbolinks" => false} do %>
                    <%= review.title %>
                  <% end %>
                </td>
                <td class="col-xs-2 text-center"><%= review.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
                <td class="col-xs-2 text-center"><%= render 'member/reviews/star', review: review %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <%= paginate @reviews %>
        </div>
      </div>
    </div>
  </div>
</div>