<div class="body">
  <div class="container-fluid">
    <br>
    <div class="row">
      <%= render "layouts/sideber", genres: @genres %>
      <div class="col-md-8 col-md-offset-1 row">
        <h2><%= @member.name %>さんのマイページ</h2>
        <div class="col-lg-5">
          <%= attachment_image_tag @member, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300' %><br>
          <% if member_signed_in? %>
            <% if @member == current_member %>
              <%= link_to 'プロフィール編集', edit_member_path, data: {"turbolinks" => false} %>
              <%= link_to 'パスワード変更', edit_member_registration_path, data: {"turbolinks" => false} %><br>
              <%= link_to @member.followings.count, followings_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロー
              <%= link_to @member.followers.count, followers_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロワー
              <%= link_to 'お気に入り一覧', bookmarks_path(member_id: @member.id), data: {"turbolinks" => false} %><br>
            <% else  %>
              <%= render "member/relationships/follow-btn", member: @member %>
              <!--<= link_to 'DM機能',  %>-->
              <br>
              <%= link_to @member.followings.count, followings_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロー
              <%= link_to @member.followers.count, followers_path(member_id: @member.id), data: {"turbolinks" => false} %>フォロワー
              <%= link_to 'お気に入り作品一覧', bookmarks_path(member_id: @member.id), data: {"turbolinks" => false} %><br>
            <% end %>
          <% end %>
        </div>
        <div class="col-lg-3">
          <h3>プロフィール</h3>
          <p><strong>自己紹介文</strong><br><%= @member.introduction %></p>
          <p><strong>性別</strong><%= @member.sex %>
          <strong>生年月日</strong><%= @member.birthday %></p>
          <p><strong>生涯ランキング</strong></p>
          <p><strong>１位</strong><%= @member.best1 %></p>
          <p><strong>２位</strong><%= @member.best2 %></p>
          <p><strong>３位</strong><%= @member.best3 %></p> 
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-7 row" style="margin: 20px 0 50px 0">
        <h3 class><%= @member.name %>さんのレビュー一覧</h3>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr bgcolor="#dcdcdc">
              <th>レビュー作品</th>
              <th>レビュータイトル</th>
              <th>投稿日時</th>
              <th>評価</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to movie_path(review.movie), data: {"turbolinks" => false} do %>
                    <%= review.movie.title %>
                  <% end %>
                </td>
                <td>
                  <%= link_to review_path(review), data: {"turbolinks" => false} do %>
                    <%= review.title %>
                  <% end %>
                </td>
                <td class="col-xs-2"><%= review.created_at.strftime('%Y %m %d %H:%M:%S') %></td>
                <td class="col-xs-2"><%= render 'member/reviews/star', review: review %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
    
  </div>
</div>