<div class="body">
  <div class="container-fluid">
    </br>
    <div class="row">
      <%= render "layouts/sideber", genres: @genres %>
      <div class="col-xs-12">
        <div class="col-xs-6">
        <p><% @member.name %>さんのマイページ</p>
        <% if member_signed_in? %>
          <% if @member == current_member %>
            <%= link_to 'プロフィール編集', edit_member_path %>
            <%= link_to 'パスワード変更', edit_member_registration_path %>
          <% else  %>
            <!--<%= link_to 'フォローする', relationships_path(@member) %>-->
            <!--<= link_to 'DM機能',  %>-->
          <% end %>
        <% else %>
          
        <% end %>
            </div>
        <div class="col-xs-6">
          <h3>プロフィール</h3>
          <p>自己紹介文<%= @member.introduction %></p>
          <p><strong>性別</strong><%= @member.sex %>
          <strong>生年月日</strong><%= @member.birthday %></p>
          <p>生涯ベスト１位<%= @member.best1 %></p>
          <p style="margin: 0 0 20px 80px">２位<%= @member.best2 %></p>
          <p style="margin: 0 0 0 80px">３位<%= @member.best3 %></p> 
        </div>
      </div>
    </div>
  </div>
</div>